* {
    margin: 0;
    padding: 0;
    border: 0;

}
body{
    background-image: url("/imagens/fundo-cinza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ---- Header ---- */
header {
    align-items: center;
    
    background-color: rgb(161, 35, 20);
    
}

.logo-furlan{
    align-items: center;
    width: 100%;
    padding: 2%;
    width: 8%;
    display: flex;
}



/* ---- Main ---- */

a{
    text-decoration: none;
    text-transform: none;
    background-color: azure;
    box-shadow: 1px 1px 1px white;

}

/* ---- Footer ---- */

img{
    width: 55%;
    height: 45%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
    grid-gap: 10px;
    max-width: 1300px;
    margin: 0 auto;
}

.grid div{
    border-radius: 20px;
    font-size: 1.6rem;
    text-align: center;
    padding: 0px;
}


.grid img{
    border-radius: 8px;
    width: 85%;
    height: 85%;
  
}
